RedirectMatch /wireapp/login /wireapp
RedirectMatch /wireapp/dashboard /wireapp
RedirectMatch /wireapp/wires /wireapp
RedirectMatch /wireapp/wireslist /wireapp
RedirectMatch /wireapp/wiresin /wireapp
RedirectMatch /wireapp/wiresinmanual /wireapp
RedirectMatch /wireapp/wiresinposting /wireapp
RedirectMatch /wireapp/wiresinposted /wireapp
RedirectMatch /wireapp/wiresinlist/.* /wireapp
RedirectMatch /wireapp/wiredetails/.* /wireapp
RedirectMatch /wireapp/filelist/.* /wireapp
RedirectMatch /wireapp/ach /wireapp
RedirectMatch /wireapp/deposits /wireapp
RedirectMatch /wireapp/fedPDList /wireapp